<h4>Add New Car</h4>
<div class="mb-3">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="carMake">Select make</label>
          <select
            class="form-control"
            id="carMake"
            formControlName="carMake"
            (change)="onSelectCarMake()"
          >
            <option [ngValue]="null" disabled>Choose your Make</option>
            <option *ngFor="let carMake of carMakes" [ngValue]="carMake">
              {{ carMake.name }}
            </option>
          </select>
        </div>

        <div class="form-group" *ngIf="selectedCarMake">
          <label for="carModel">Select Model</label>
          <select
            class="form-control"
            id="carModel"
            formControlName="carModel"
            (change)="onSelectCarModel()"
          >
            <option [ngValue]="null" disabled>Choose your model</option>
            <option
              *ngFor="let carModel of selectedCarMake.models"
              [ngValue]="carModel"
            >
              {{ carModel.name }}
            </option>
          </select>
        </div>

        <div class="form-group" *ngIf="selectedCarModel">
          <label for="carBodyType">Select car body type</label>
          <select
            class="form-control"
            id="carBodyType"
            formControlName="carBodyType"
            (change)="onSelectCarBodyType()"
          >
            <option [ngValue]="null" disabled>Choose your car body type</option>
            <option
              *ngFor="let carBodyType of carBodyTypes"
              [ngValue]="carBodyType.id"
            >
              {{ carBodyType.value }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="carPrice">Set price</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              formControlName="carPrice"
              id="carPrice"
            />
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="carImage">Select image</label>
          <input
            type="file"
            class="form-control-file"
            id="carImage"
            (change)="onSelectFile($event)"
          />
          <img
            [src]="previewImage || 'https://dummyimage.com/500/ccc/000'"
            width="500"
            height="500"
            alt="your image"
            class="img-fluid"
          />
        </div>

        <button
          [disabled]="
            !this.model.make ||
            !this.model.model ||
            !this.model.engine ||
            !this.model.price
          "
          class="btn btn-primary mr-2"
          type="submit"
        >
          Submit
        </button>
        <a type="button" class="btn btn-danger" [routerLink]="['/games']"
          >Cancel</a
        >
      </form>
    </div>
  </div>
</div>
