<div class="car-list-page">
  <div class="mb-3">
    <a class="btn btn-success mr-1" [routerLink]="['new-car']">Add Car</a>
  </div>

  <div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col-sm-6 col-md-4 d-flex mb-3" *ngFor="let car of cars">
        <app-car-card [car]="car"></app-car-card>
      </div>
    </div>

    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Body Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <td>{{ car.make }}</td>
          <td>
            {{ car.model }}
          </td>
          <td>
            {{ getBodyType(car.carBodyType) }}
          </td>
          <td>
            <a
              type="button"
              class="btn btn-success mr-1"
              [routerLink]="['/car', car.id]"
            >
              View
            </a>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
